%body
  %header
    .header-logo
      %a{:href => "/"} VEGAN
    %ul.header-menus
      %li
        %a{:href => "/about"} VEGANとは
  .about-main
    %h2 VEGANとは
    %p
      veganの、veganによる、veganのためのサイト。